@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin Attractive Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1C2333;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748B;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}